name: Python Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest-cov
      
      - name: Clear cache
        run: |
          find . -type d -name "__pycache__" -exec rm -rf {} +

      - name: Set PYTHONPATH for tests
        run: |
         export PYTHONPATH=$PYTHONPATH:/home/runner/work/todo_project/todo_project
         pytest ./tests --maxfail=5 --disable-warnings --cov=todo --cov-report=xml
      
      - name: Upload coverage to Coveralls
        run: coveralls

      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)
        env:
           CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}



